

body {
  font-family: 'Poppins', sans-serif;
  background: #ff9d00;
  background: linear-gradient(90deg, rgba(255, 157, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 99%, rgba(245, 143, 0, 1) 100%);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: white;
}


header {
  text-align: center;
 background: #ff9d00;
background: radial-gradient(circle, rgba(255, 157, 0, 1) 25%, rgb(255, 119, 0) 100%);
  color: #000;
  padding: 50px 20px;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}


nav {
  background-color: #1c1c1c;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #fff;
}


.conteudo {
  padding: 60px 10%;
  text-align: center;
}

.conteudo img {
  width: 500px;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 10px;
}


.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1e1e1e;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #ffcc00;
}


footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}

/* NOVOS ESTILO TIMES */

.galeria2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card2 {
  display: flex;
  background: #1e1e1e;
  border-radius: 10px;
  transition: transform 0.3s;
  overflow: hidden;
}

#capim{
  background: #22C1C3;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(71, 192, 169, 1) 38%, rgba(83, 253, 45, 1) 100%);
}

#loud{
  background: #555c55;
background: linear-gradient(0deg, rgba(85, 92, 85, 1) 17%, rgba(8, 84, 7, 1) 67%);
}

#furia{
  background: #fcfcfc;
background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgba(88, 88, 88, 1) 37%, rgba(0, 0, 0, 1) 72%);
}

#fluxo{
  background: #5f1978;
background: linear-gradient(0deg, rgba(95, 25, 120, 1) 0%, rgba(0, 0, 0, 1) 80%);
}

#desimpedidos{
  background: #028200;
background: linear-gradient(0deg, rgba(2, 130, 0, 0.98) 17%, rgba(2, 35, 71, 1) 64%);
}

#g3x{
  background: #102759;
background: linear-gradient(0deg, rgba(16, 39, 89, 1) 21%, rgba(199, 185, 157, 1) 100%);
}

#dendele{
  background: #edc811;
background: linear-gradient(0deg, rgba(237, 200, 17, 1) 3%, rgba(0, 61, 115, 1) 71%);
}

#realelite{
  background: #0cc29d;
background: linear-gradient(0deg, rgba(12, 194, 157, 0.98) 17%, rgba(2, 41, 71, 1) 57%);
}

#nyvelados{

background: #420085;
background: linear-gradient(0deg, rgba(66, 0, 133, 1) 34%, rgba(232, 53, 232, 1) 100%);
}

#funkbol{
background: #2a0052;
background: linear-gradient(0deg, rgba(42, 0, 82, 0.98) 17%, rgba(175, 2, 191, 1) 53%);
}

.logo img{
  height: 60px;
  width: 60px;
  transition: 0.3s;
}

.presidentes{
  display: flex;
  justify-content: center;
}

.presidentes img{
  transition: 0.3s;
  width: 200px;
}

.info{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin-right: 30px;
width: 200px;
}

.card2:hover .presidentes img{
  scale: 1.2;    
}

.card2:hover .logo img{
  height: 80px;
  width: 80px;    
}


/* ATE AQUI */

.linha{
  border-bottom: 1px solid orange;
  border-top: 10px solid orange;
  text-align: center;
  font-size: 40px;
  color: yellow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  user-select: none;

}



@media (max-width: 768px) {
  .galeria {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 100%;
    height: 250px;
  }
}

